<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>
  <link rel="stylesheet" href="estilos.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
  <div class="wrapper">
    <form (ngSubmit)="signUp()">
      <h1>Sign Up</h1>
      <div class="input-box">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <button type="submit" class="btn">Sign Up</button>

      <!-- Success and Error Messages -->
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <!-- Google Sign-In Button -->
      <div class="social-login" style="margin-top: 15px;">
        <button type="button" (click)="googleSignIn()" class="btn google-btn">
          <i class='bx bxl-google'></i> Sign In with Google
        </button>
      </div>

      <div class="register-link">
        <p>Already have an account? <a (click)="goToLogin()">Login</a></p>
      </div>
    </form>
  </div>
</body>
</html>
